header {
    width: 100%;
    height: 38%;
    display: grid;
    position: relative;
    background-size: cover;
    grid-template-columns: 13.5% 73% 13.5%;
    background-image: url('../../images/headerBG.png');
    grid-template-areas: "logo title cart" "menu menu menu";
}

.logo {
    top: 10%;
    left: 5%;
    width: 75%;
    height: 75%;
    grid-area: logo;
    position: relative;
}

.logo :hover {
    filter: drop-shadow(0 0 2em #0050c1);
}

.logo img {
    width: 100%;
    height: 100%;
}

.title {
    width: 100%;
    display: flex;
    max-height: 60%;
    padding-left: 8%;
    grid-area: title;
    align-self: center;
    justify-self: center;
}

.menu {
    gap: 1%;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    display: flex;
    grid-area: menu;
    position: relative;
    background-color: black;
}